/* Declare fonts */
@font-face {
	font-family: candara;
	src: url('fonts/Candara/Candara.ttf');
}

@font-face {
	font-family: candara-italic;
	src: url('fonts/Candara/Candara Italic.ttf');
}

@font-face {
	font-family: candara-bold;
	src: url('fonts/Candara/Candara Bold.ttf');
}

@font-face {
	font-family: tradeGothic;
	src: url('fonts/TradeGothicLTStd-BdCn20.otf');
}

/* Declare site's sections */
body {
	background-image:url('images/bg_texture.jpg');
}

#site_title {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	height:167px;
	width:1007px;
	background-image:url('images/title.png');
}

#site_container {
	width:1007px;
	margin-left:auto;
	margin-right:auto;	
}

#site_footer {
	width:1007px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
}

#content_container {
	background-color:#DCDCDC;
	width:1007px;
	margin-left:auto;
	margin-right:auto;
}

#stories_container {
	vertical-align:top;
	display:inline-block;
	width:747px;
}

#widgets_container {
	vertical-align:top;
	display:inline-block;
	width:220px;
	height:1000px;
	margin-left: 15px;
}

/* Grey color block left of load more button. */
.color_block {
	display:inline-block;
	height:36px;
	width: 62px;
	background-color:#545454;
}

/* Load more button */
#loadmore_container {
	width:747px;
	height:36px;
}

#loadmore_button {
	margin-left:310px;
	position:relative;
	top:-55px;
	height:45px;
	width:152px;
	background-image:url('images/more_news.png');
	cursor: pointer;
}

#loadmore_button:hover {
	margin-left:310px;
	position:relative;
	top:-55px;
	height:45px;
	width:152px;
	background-image: url('images/more_news.png');
	background-position: 0 -45px;
	cursor: pointer;
}

/* Images section */
#images_container {
	vertical-align: top;
	padding-top:10px;
	width:220px;
	height:375px;
	background-image:url('images/sidebar.png');
}

#images_widget_title {
	margin-top: 10px;
	margin-left: 30px;
	width:171px;
	height:56px;
	background-image:url('images/images.png');
}

#images {
	margin-top: 15px;
}

.image_row {
margin-left: 21px;
}

.image {
	display:inline;
	padding-right:4px;
	height:35px;
	width:35px;
	border:0px;
}

/* News story section */
.story_container {
	width:747px;
	height:190px;
	background-image:url('images/story_bg_no_img.jpg');
}

.story_container_img {
	width:747px;
	height:235px;
	background-image:url('images/story_bg_img.jpg');
}

.story_title {
	margin-top:25px;
	width:670px;
	height: 25px;
	text-transform: uppercase;
	font-family:tradeGothic;
	font-size: 16pt;
}

.story_body {
	margin-left:15px;
	display:inline-block;
	width:677px;
	height:190px;
}

.story_desc {
	margin-top:10px;
	width:670px;
	height:120px;
	font-family:arial;
	color:#848484;
}

.story_desc a {
	text-decoration: none;
	color:#848484;
}

.story_desc_img {
	margin-top:10px;
	display:inline-block;
	vertical-align:top;
	padding-left: 20px;
	width:400px;
	height:120px;
	font-family:arial;
	color:#848484;
}

.story_desc_img a {
	text-decoration: none;
	color:#848484;
}

.story_img {
	margin-top:10px;
	vertical-align:top;
	width:250px;
	height:148px;
	display:inline;
}

.divider_container {
	height:36px;
	width:747px;
}

.domain {
	display:inline;
	vertical-align: top;
	margin-left: 8px;
	font-family: candara;
	color:#848484;
}

.date_container {
	vertical-align:top;
	margin-top: 9px;
	margin-left:15px;
	display:inline-block;
	height:60px;
	width:40px;	
	font-family: candara;
	color:white;
}

.month {
	text-transform: uppercase;
	height:16px;
	width:40px;
}

.date {
	height:16px;
	width:30px;
}

/* Twitter section */
#twitter_container {
	vertical-align:top;
	padding-top:10px;
	width:220px;
	height:375px;
	background-image:url('images/sidebar.png');
}

.tweet {
	font-family: candara;
	font-size: 12pt;
	width:185px;
}

.tweet_screen_name {
	font-family: candara-bold;
	font-size: 12pt;
	width:185px;
}

.tweet_screen_name a{
	color: black;
}

.tweet_text {
	font-size: 10pt;
}

.tweet_text a{
	font-size: 10pt;
	color: #085761;
	text-decoration: none;
}

.tweet_timestamp {
	font-size: 10pt;
	color:#848484;
}

#twitter_widget_title {
	margin-top: 10px;
	margin-left: 30px;
	width:171px;
	height:56px;
	background-image:url('images/twitter.png');
}

/* scrollbar for Twitter widget */
#scrollbar1 { width: 220px; clear: both; margin: 15px 0 10px; }
#scrollbar1 .viewport { margin-left: 20px; width: 185px; height: 286px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #545454; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 5px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:5px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 5px; }
#scrollbar1 .disable{ display: none; }